.date-picker-input {
  width: 200px;
  outline: none;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  border-left: var(--pd-border-1);
  height: 40px;
  font-size: 16px;
  color: var(--pd-font-color-2);
}